@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section id="menu-section">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>logo</div>
            <div>

                <a href="/" class="me-2">Hem</a>
                <a href="/about-us" class="me-2">Om oss</a>
                
                
                
                
                
                
            </div>
            <div>menu2</div>
        </div>
    </div>
</section>